
@media only screen and (max-width: 400px) {
	header h1 {
		padding: 1.5rem;
	}
	
header img{
	width:50%;
	margin: 1rem;
}

	#mainWrapper {
		padding-top: 2.5rem;
		padding-bottom: 2rem;
	}

	#numberDisplay {
		width: 16rem;
		height: 16rem;
		margin-bottom: 0.7rem;
		border: 0.3rem solid #dddddd;
		border-radius: 1rem;
		line-height: 16rem;
		box-shadow: 0.15rem 0.15rem 0.1rem;
	}

	#numberDisplayed {
		font-size: 12rem;
	}

	.numbers-keys {
		width: 4.6rem;
		height: 4.6rem;
		margin: 0.6rem;
		border-radius: 1rem;
		font-size: 3rem;
	}

	#randomizeSelect,
	#visibilitySelect {
		width: 14rem;
		margin: 1.4rem 1rem;
		border: 0.3rem solid rgb(122, 121, 121);
		border-radius: 0.5rem;
		padding: 0.5rem;
		font-size: 2rem;
	}
}
