body,
input {
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

body {
	margin: 0;
	background-color: black;
}

#flexContainer{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

header {
min-height: 50px;
display: inline-flex;
align-items: center;
}

header img {
	width:20%;
	margin: 1%;
	min-width: 200px;
}

#mainWrapper {
	padding-top: 1%;
	padding-bottom: 2rem;
	background-color: white;
}

#mainWrapperAdmin {
	width: 100%;
	padding-top: 4rem;
	padding-bottom: 4rem;
	background-color: white;
}

#modeInfoHolder {
	padding-top: 0.2rem;
	padding-bottom: 0.5rem;
	padding-right: 1rem;
	text-align: right;
	background-color: white;
}

#modeInfo {
	padding: 0.2rem 1rem 0.4rem;
	border-bottom-left-radius: 0.3rem;
	border-bottom-right-radius: 0.3rem;
	font-size: 1rem;
	letter-spacing: 0.1rem;
	color: white;
	background-color: red;
	visibility: hidden;
}

#keysFrame {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	flex-shrink: 1;
}

.key-line{
	display: flex;
	flex-wrap: nowrap;
}

#numberDisplay {
	width: 220px;
	height: 220px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
	border: 0.3rem solid #dddddd;
	border-radius: 2rem;
	color: #dddddd;
	line-height: 220px;
	text-align: center;
	box-shadow: 0.1rem 0.1rem 0.3rem #aaaaaa;
	flex-shrink: 1;
}

#numberDisplayed {
	font-size: 10rem;
	font-weight: 500;
}

.numbers-keys {
	width: 4rem;
	height: 4rem;
	margin: .5rem;
	border: 0;
	border-radius: 1rem;
	font-size: 2rem;
	font-weight: 800;
	box-shadow: 0.1rem 0.1rem 0.3rem;
}

.numbers-keys:hover {
	background-color: bisque;
	box-shadow: 0.1rem 0.1rem 0.5rem;
	cursor: pointer;
}

.numbers-keys:active {
	box-shadow: 0.05rem 0.05rem 0.3rem;
}

#controlPanel {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	padding: 3vmax;
	border-radius: 1rem;
	background-color: black;
	flex-shrink: 1;
}

#controlInfo {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 2rem;
	font-weight: 200;
	letter-spacing: 0.1rem;
	color: white;
}

hr {
	margin-bottom: 2rem;
	color: white;
}

.option-selection {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

#randomizeSelect,
#visibilitySelect {
	width: 20rem;
	margin: 2rem;
	border: 0.3rem solid rgb(122, 121, 121);
	border-radius: 0.5rem;
	padding: 0.5rem;
	font-size: 3rem;
}

#visibilitySelect {
	border-color: red;
	color: red;
}

#bottomStripe blockquote, #bottomStripe cite{
	color: white;
	font-family: "Raleway", sans-serif;
	font-weight: 100;
}

#bottomStripe blockquote{
	margin: 0 .5rem;
	/* margin-bottom: 0.5rem; */
	font-size: 1.8vh;
	flex-shrink: 1;
}

#bottomStripe cite{
	font-size: 1.3vh;
}

#bottomStripe{
	margin: .6rem auto 2rem;
	text-align: center;
}